body{
  padding: 0;
  margin: 0;
  background-color: #eceef1;
  font-size: small;
  font-family: 'Calibri','Cambria'sans-serif;

}

form ,.recap{
  border: 1px solid lightgrey;
  width:55%;
  height: 570px;
  padding: 15px;
  background-color: white;

}
.recap{
  height: 25px;
  border-top: none;
  background-color: #ECEEF1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #404040;
}

.terms{
  color: #404040;
  margin-top: 9%;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

form>label{
    font-weight: 400;
    color: #404040;
    font-size: 14px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif
}
form>button{
  margin-top: 2%;
}
form>p{
  text-align: center;
}
form input{
  border: 1px solid #C1C5C8;
  line-height: 34px;
  height: 34px;
  font-size: 23px;

}

#form-area{

  display: inline-block;
  position:relative;
  left:35%;
  margin-top: 150px;
}
#form-icons{
margin-bottom: 3.5%;
margin-left: 5%
}
footer>p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #404040;
}
footer>p>a{
  color: black;
}
input{
  width: 350px;
  height: 25px;
  border:1px solid gainsboro;
  border-radius:5px;
}
.btn{
  background-color: #0077C5;
  border-radius: 5px;
  color: white;
  box-shadow: 1px black;
  height:40px;
  font-size: 1rem;

  cursor: pointer;
}

#signup-btn{
  width: 97%; 
}
h3{
  font-size: 2rem;
}
button :hover{
 background-color: deepskyblue;
}
a{
  text-decoration: none;
}
#form-title{
    font-size:1.5rem;
    font-weight: 400;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    padding:0px;
}
#form-sub-title{
    font-size:1rem;
    font-weight: 400;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;

}
/*.recap {
  background-color: #eceef1 ;
  width: 65%;
  height: 35px;
  margin-top:0;


}*/
.learn-more{
  position: relative;
  top:-15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  font-size: 1.2em;
}
#form-info{
  text-align :center;

}
#signin-area{
  display: block;
  float: right;
  margin-right: 95px;
  padding: 12px;
}
#form-info{
  text-align :center;

}
#signin-area{
  display: inline-block;
  float: right;
  padding: 12px;
}
 #signin-area>p{
  display: inline-block;
  margin-left:-250px;
  vertical-align: middle;
}
#signin-area>button{
  vertical-align: middle;
  width: 120px;
  height: 35px;
  border:1px solid black;
}

.links{
  vertical-align: baseline;
  padding: 5px;

}
.link1 ,.link2, .link3{
  vertical-align: baseline;
}
.formimgtitle{
  position: relative;
  left: 18%;
  margin-bottom: 2%;
}
.password{
  
  background-image: url(img/lock.png) ;
  background-repeat: no-repeat;
  background-position: right;
  
}